body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle {
  text-align: center;
  margin-bottom: 20px;
}

.theme-toggle button {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.theme-toggle button.active {
  color: #0000FF;
}

.content {
  text-align: center;
}

.content h1 {
  color: #000;
}

.content p {
  color: #666;
}

.dark-theme {
  background-color: #000;
  color: #fff;
}

/* Cambiar color del botón cuando está activo en modo oscuro */
.dark-theme .theme-toggle button.active {
  color: #FFD700;
}
